/* lect3 css (form) */

/* div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  background-color: rgb(136, 201, 217);
  height: 220px;
  width: 170px;
  border-radius: 10px;
  box-shadow: rgba(15, 113, 11, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input{
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 19px;
  font-size: 11px;
  height: 15px;
  line-height: 30px;
}
input::placeholder{
  color: gray;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
}
button{
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(232, 226, 198);
  box-shadow: rgba(239, 216, 216, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

} */

/* lect4 css (card format) */
/* 
#parent_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  
}
#card{
  height: 300px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(8, 7, 7);
  background-color: rgb(202, 200, 202);
  margin-top: 20px;
}

img{
  height: 200px;
  width: 190;
  object-fit: cover;
}

input{
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(248, 246, 246);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  gap: 20px;
  margin-right: 20px;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 226, 198);
  font-size: 16px;
  cursor: pointer;
  color: rgb(81, 8, 54);
} */


/* lect 6 css (react router DOM) */
/* #nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
}
li{
  color: snow;
} */

/* lect 7 css */
/* h2{ */
  /* color: rgb(81, 8, 54);
  margin-top: 20px;
}
input{
  padding: 10px;
  border: 1px solid rgb(61, 57, 57);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  gap: 20px;
  margin-right: 20px;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 226, 198);
  font-size: 16px;
  cursor: pointer;
  color: rgb(81, 8, 54);
} */

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
li{
  color: snow;
}
#card{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* height: 200px;
  width: 171px;
  background-color: antiquewhite; */
}
#main_card{
  height: 200px;
  width: 171px;
  background-color: snow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img{
  height: 80%;
  width: 80%;
}